<html xmlns:th="http://www.thymeleaf.org"
	xmlns:tiles="http://www.thymeleaf.org">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1"></meta>
	<script src="https://code.jquery.com/jquery-2.2.3.min.js" integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo=" crossorigin="anonymous"></script>
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"></link>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.5/angular.js"></script>
	<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script type="text/javascript" src="app/app.js"></script>
<script type="text/javascript" src="app/registerController.js"></script>
<title>Sign up</title>

<script th:inline="javascript">

    var registerForm = JSON.parse([[${register}]]);

</script>

</head>

<body ng-app="passbookApp">




	<hr/>
	<div class="container" ng-controller="RegisterFormCtrl">
	<h1>Sign Up Form</h1>
	<form name="signupform" action="/signup" method="post" enctype="utf8" role="form">
		<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" /> 
		
 			<div class="form-group">
 			
 			<label for="firstName">First Name</label>
			<input class="form-control" id="firstName" name="firstName" ng-model="registerForm.firstName" /> 
			</div>
 			
 			<div class="form-group">
 			
 			<label for="lastName">Last Name</label>
 			
			<input class="form-control" id="lastName" name="lastName" ng-model="registerForm.lastName" />
			
 			</div>
 			
			<div class="form-group">
			
			
			<label for="email">Email Address</label>
			<input id="email" class="form-control" name="email" ng-model="registerForm.email" />
			
			</div>

			<div class="form-group">
			
			
			<label for="age">Age</label>
			<input id="age" class="form-control" name="age" ng-model="registerForm.age" />
			
			</div>

			<div class="form-group">
			
			
			<label for="gender">Gender</label>
			<select id="gender" class="form-control" name="gender" ng-model="registerForm.gender" ng-options="gen.value as gen.value for gen in genders"></select> 
			
			</div>
			
			<div class="form-group">
			
			<label for="password">Password</label>
			<input id="password" type="password" class="form-control" name="password" ng-model="registerForm.password" /> 
			
			</div>
			
			<div class="form-group">
			
			<input class="btn btn-primary" type="submit" value="Register" />
			
			</div>
			
	</form>
	
	
	
	</div>
<hr/>
</body>

</html>



