<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1"></meta>
	<title>Passbook Update Sample Page</title>
	<script src="https://code.jquery.com/jquery-2.2.3.min.js" integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo=" crossorigin="anonymous"></script>
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"/>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.5/angular.js"></script>
	<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

	<script type="text/javascript" src="app/app.js"></script>
<script th:inline="javascript">
/*<![CDATA[*/
    var userName = /*[[${user.name}]]*/ null;
    var passbookUrlPath = /*[[${passbookUrl}]]*/ null;
    var passbookId = /*[[${game_id}]]*/ null;
    /*]]>*/
</script>

	<script>
		var updatePage = true;
	</script>
	<style type="text/css">
		/* label{
			font-size: 20px;
			color: white;
		}

		h1{
			color: white;
		}
		body{
			background-color: #CBE32D;
		} */
	</style>
</head>	

<body >
<hr/>
	<div class="container" ng-app="passbookApp">

		<div ng-controller="passbookCtrl">
		
			<div class="form-group pull-right">
			
				<a href="/logout">Logout</a>
			
			</div>

			<div  class="form-group" ng-if="!checkForEmptyPassbook()">
			
				<a ng-href="{{createPassbook()}}">Download Passbook</a>
			
			</div>
			<br/>

			<div class="form-group" ng-if="checkForEmptyPassbook()">
		
					<label>Select Game Id:</label>
				

				<div>
					<select class="form-control" name="game" ng-model="user.gameId" ng-options="golf.id as golf.id for golf in data_properties.golf"></select>
				</div>	
			</div>


			<div class="form-group">
			
					<label>Select hole:</label>
				
				<div>
					<select class="form-control" name="hole" ng-model="user.hole" ng-options="hole as hole for hole in data_properties.hole_numbers_array track by hole"></select>
				</div>	
			</div>


			<div class="form-group">
				
					<label>Score</label>
				

				<div>
					<input class="form-control" name="score" ng-model="user.score"/>
				</div>	
			</div>




			<div class="form-group">

				<div >
					<button class="btn btn-primary" name="update" ng-click="updatePassbook()">Update</button>
				</div>

			</div>

			<div class="status-container row" style="color: red;">

				<h5>{{update}}</h5>

			</div>

		</div>

	</div>

<hr/>

</body>

</html>