<html xmlns:th="http://www.thymeleaf.org"
	xmlns:tiles="http://www.thymeleaf.org">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1"></meta>
  <meta name="_csrf" th:content="${_csrf.token}"/>
  <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
  <meta name="_update_redirect" th:content="${updateFormRedirect}"/>
	<script src="https://code.jquery.com/jquery-2.2.3.min.js"></script>
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"></link>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.5/angular.js"></script>
	<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script type="text/javascript" src="app/app.js"></script>
<script type="text/javascript" src="app/registerController.js"></script>
<title>Update Form</title>

<script th:inline="javascript">
	var token = $("meta[name='_csrf']").attr("content");
	var header = $("meta[name='_csrf_header']").attr("content");
	var updateRedirect = $("meta[name='_update_redirect']").attr("content");
	var config = {
		headers: {
			[header]: token
		}
	}
    var registerForm = JSON.parse([[${register}]]);

</script>

	<style type="text/css">
	.has-error{
		color: #d67d7d;
	}
	</style>

</head>

<body ng-app="passbookApp">




	<hr/>
	<div class="container" ng-controller="RegisterFormCtrl">
	<h1 ng-if="registerFormStatus()">Update Form</h1>		
	<form name="signupform"  enctype="utf8" role="form" ng-submit="submitForm()">
		<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" /> 
		
 			<div class="form-group">
 			
 			<label for="firstName">First Name</label>
			<input class="form-control" id="firstName" name="firstName" ng-model="registerForm.firstName" /> 
			<div class="first-name-error">
					<span class="control-label has-error" ng-show="user.error.firstName">Please enter first name.</span>
				</div>
			</div>
 			
 			<div class="form-group">
 			
 			<label for="lastName">Last Name</label>
 			
			<input class="form-control" id="lastName" name="lastName" ng-model="registerForm.lastName" />
			<div class="last-name-error">
					<span class="control-label has-error" ng-show="user.error.lastName">Please enter last name.</span>
				</div>
			
 			</div>
 			
			<div class="form-group">
			
			
			<label for="email">Email Address</label>
			<input id="email" class="form-control" name="email" ng-model="registerForm.email" />
			<div class="email-error">
					<span class="control-label has-error" ng-show="user.error.email">Please enter email address.</span>
				</div>
						<div class="email-error">
					<span class="control-label has-error" ng-show="user.error.emailexist">Email Id already exists.</span>
				</div>
			
			</div>

			<div class="form-group">
			
			
			<label for="age">Age</label>
			<input id="age" class="form-control" name="age" type="number" ng-model="registerForm.age" />
				<div class="age-error">
					<span class="control-label has-error" ng-show="user.error.age">Please enter age.</span>
				</div>
			
			</div>

			<div class="form-group">
			
			
			<label for="gender">Gender</label>
			<select id="gender" class="form-control" name="gender" ng-model="registerForm.gender" ng-options="gen as gen for gen in genders"></select> 

					<div class="gender-error">
					<span class="control-label has-error" ng-show="user.error.gender">Please select gender</span>
				</div>
			
			</div>

			<label for="handicap">Handicap</label>
				<input id="handicap" class="form-control" type="number" name="handicap" ng-model="registerForm.handicap" />
			</div> 
			
			<div class="form-group">
			<label ng-if="registerFormStatus()" for="password">Change Password</label>

			<input id="password" type="password" class="form-control" name="password" ng-model="registerForm.password" /> 
			
			</div>
			
			<div class="form-group">

			<input ng-if="registerFormStatus()" class="btn btn-primary" type="submit" value="Update" />
			</div>
			
	</form>
	
	
	
	</div>
<hr/>
</body>

</html>



