<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1"></meta>
	<title>Passbook Update Sample Page</title>
	<script src="https://code.jquery.com/jquery-2.2.3.min.js" integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo=" crossorigin="anonymous"></script>
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"/>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.5/angular.js"></script>
	<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.5/angular-touch.min.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/1.3.3/ui-bootstrap.min.js"></script>

	<script type="text/javascript" src="app/app.js"></script>
	<link rel="stylesheet" type="text/css" href="css/loader.css"></link>
<script th:inline="javascript">
/*<![CDATA[*/
    var userName = /*[[${user.name}]]*/ null;
    var passbookUrlPath = /*[[${passbookUrl}]]*/ null;
    var passbookId = /*[[${game_id}]]*/ null;
    var cookie_token = /*[[${cookie_token}]]*/ null;
    /*]]>*/
</script>

	<script>
		var updatePage = true;
	</script>
	<style type="text/css">
	.has-error{
		color: #d67d7d;
	}

	</style>
</head>	

<body >
<hr/>
	<div class="container" ng-app="passbookApp">

		<div ng-controller="passbookCtrl">
		
			<div class="form-group pull-right">
			
			<a href="/">Home</a>
			<a href="/logout">Logout</a>
			
			</div>

			<div  class="form-group" ng-if="!checkForEmptyPassbook()">
			
				<a ng-href="{{createPassbook()}}" ng-click="loader()">Download Passbook</a>
			
			</div>
			<br/>

			<!-- <div class="form-group" ng-if="checkForEmptyPassbook()"> -->
				<div class="form-group" ng-if="false">
		
					<label>Select Game Id:</label>
				

				<div>
					<select class="form-control" name="game" ng-model="user.gameId_selected" ng-change="setSelectedGameId(user.gameId_selected)" ng-options="golf as golf.id for golf in updateGolfArray"></select>
				</div>	
			</div>


			<div class="form-group">
			
					<label>Select hole:</label>
				
				<div>
					<select class="form-control" name="hole" ng-model="user.hole" ng-change="generateHoleDetails(user.hole)" ng-options="hole as hole for hole in generateHoleNumbers(user.gameId_selected)"></select>
				</div>	

				<div class="golf-score-error">
					<span class="control-label has-error" ng-show="user.error.score">Please select hole number.</span>
				</div>
			</div>

			<div class="form-group" ng-if="user.hole_selected_details != undefined">

				<label>Hole Details</label>

				<div class="hole-table">

					<table class="table table-bordered">
						<thead>
							<tr>
								<th> Hole </th>
								<th> Color </th>
								<th> Par </th>
								<th> Stroke </th>
								<th> Yards </th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>{{user.hole_selected_details.holeNumber}}</td>
								<td>{{user.hole_selected_details.color}} </td>
								<td>{{user.hole_selected_details.par}}</td>
								<td>{{user.hole_selected_details.stroke}}</td>
								<td>{{user.hole_selected_details.yards}}</td>
							</tr>

						</tbody>	


					</table>
				</div>


			</div>


			<div class="form-group">
				
					<label>Score</label>
				

				<div>
					<input class="form-control" name="score" type="number" ng-model="user.score"/>
				</div>	

				<div class="golf-score-error">
					<span class="control-label has-error" ng-show="user.error.score">Please enter score.</span>
				</div>
			</div>




			<div class="form-group">

				<div >
					<button class="btn btn-primary" name="update" ng-click="updatePassbook()">Update</button>
				</div>

			</div>

			<div class="status-container row" style="color: red;">

				<h5>{{update}}</h5>

			</div>

			<!-- Modal -->
			<div ng-if="modelSelected">
				<div class="modal fade in" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="display: block; padding-right: 15px;">
					  <div class="modal-dialog" role="document">
					   	<div class="loader">Loading....</div>
					  </div>
				</div>
				<div class="modal-backdrop fade in"></div>
			</div>

		</div>

	</div>

<hr/>

<!-- <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
   	<div class="loader">Loading....</div>
  </div>
</div> -->

</body>

</html>